{{ define "content" }}

<form role="form" action="/artist/create" method="post" enctype="multipart/form-data">
  <div class="lead">Create a new Artist</div>
  <div class="form-group">
    <label for="profilePic">Display Picture</label>
    <input type="file" name="profilePic" id="profilePic"><br>
    <label for="firstName">First Name</label>
    <input class="form-control" name="firstName" id="firstName">
    <br/>
    <label for="lastName">Last Name</label>
    <input class="form-control" name="lastName" id="lastName">
    <br/>
    <textarea class="form-control" name="description" id="description" placeholder="Artist description here" rows="4"></textarea>
    <br/>
    <br/>
    <button class="btn btn-lg btn-primary pull-right" type="submit">Start this artist</button>
  </div>
</form>

{{ end }}